- hosts: localhost
  tasks:
    - name: Check execution context
      when: "zuul.branch is not defined"
      fail:
        msg: "This playbook must be run in a branch-based pipeline (e.g., 'promote')."

    - name: Download docs archive
      include_role:
        name: download-artifact
      vars:
        # download_artifact_job: provided by zuul job
        download_artifact_api: "https://zuul.eco.tsi-dev.otc-service.com/api/tenant/{{ zuul.tenant }}"
        download_artifact_type:
          - docs_archive
          - docs_pdf
        download_artifact_pipeline: gate

    - name: Set container name
      set_fact:
        container_name: "{{ container | default(zuul.project.short_name) }}"

    - name: Get token
      os_auth:
        cloud: "{{ cloud_docs }}"
      register: os_auth
      no_log: true

    - name: Create Swift container
      uri:
        url: "{{ cloud_docs.object_store_endpoint_override }}/{{ container_name }}"
        method: "PUT"
        headers:
          X-Auth-Token: "{{ os_auth.ansible_facts.auth_token }}"
          X-Container-Read: ".r:*,.rlistings"
          X-Container-Meta-Web-Index: "index.html"
          X-Container-Meta-Web-Listing: "false"
        status_code: [200, 201, 202]

    - name: Upload docs to Swift
      uri:
        url: "{{ cloud_docs.object_store_endpoint_override }}/{{ container_name }}/{{ prefix }}?extract-archive=tar.gz"
        method: "PUT"
        src: "{{ zuul.executor.work_root }}/docs-html.tar.gz"
        headers:
          X-Auth-Token: "{{ os_auth.ansible_facts.auth_token }}"
          X-Detect-Content-Type: "true"
          Content-Type: "application/gzip"
        status_code: [200, 201]
